/*==================================
Menu Css - Estilo especifico para o Menu.html
===================================*/

#banner-menu {
    margin: 2rem 0;
    text-align: center;
    position: relative;
}

#banner-menu img{
    

}